<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DemoUI</key>
	<array>
		<string>NotificationBannerSwift</string>
	</array>
	<key>Demo</key>
	<array>
		<string>Hook</string>
		<string>SwiftMesh</string>
		<string>SwiftDate</string>
		<string>SwiftLuhn</string>
	</array>
</dict>
</plist>
